*,:before,:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
html, body{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	-webkit-text-size-adjust:none;
	background: #2e3842;
	color: #fff;
	font-family: "Open Sans",Helvetica,sans-serif;
	font-weight: 400;
	letter-spacing: .075em;
	line-height: 1.65em;
}
a {
	color:inherit;
	text-decoration:none
}
a:hover {
	color:#9be8ff
}
h1,h2 {
	color:#fff;
	font-weight:800;
	letter-spacing:.225em;
	line-height:1em;
	margin:0 0 1em;
	text-transform:uppercase
}
h2 {
	font-size:1.35em;
	line-height:1.75em
}
p {
	margin: 0 0 2em
}
@media screen and (max-width: 736px) {
	body {
		letter-spacing:.0375em
	}
}
